body {
    background: var(--background) !important;
}

body.new_header_design #side_bar .left_label, h1.page_name, * {
    color: #757678 !important;
}

.ui_tab_sel, .ui_tabs .ui_tab_sel, .ui_tabs_box .ui_tab_sel {
    color: #757678 !important;
}


.stl_active.over_fast #stl_bg {
    background-color: var(--post_back) !important;
}



#page_header_wrap {
    background-color: var(--background) !important;
}

#page_header_cont {
    background-color: var(--post_back_sel) !important;
}

.top_audio_player_enabled:hover {
    background-color: var(--post_back_sel) !important;
}



body.new_header_design .TopSearch__input {
    background-color: var(--searchline) !important;
    color: var(--search_text) !important
}

.ts_cont_wrap {
    background-color: var(--searchline) !important;
}

.ui_rmenu_item:hover, .ui_rmenu_subitem:hover {
    background-color: var(--post_back_sel) !important;
}




.scroll_fix {
    background-color: var(--background) !important;
}


a {
    color: #44609e !important;
}


.ts_contact:hover {
    background-color: var(--searchline_sel) !important;
}



:root {
    --background: #191919;
    --post_back: #232323;
    --post_back_sel: #303030;
    --searchline: #45464f;
    --searchline_sel: #4f505a;
    --btn: #26529f;
    --text: #757678;
    --search_text: white;
}



body.new_header_design #side_bar ol li .left_row:hover {
    background-color: var(--post_back_sel) !important;
}



.chat_onl_inner {
    background-color: var(--post_back_sel) !important;
}

.chat_cont_sh_bottom, .chat_cont_sh_top {
    background: linear-gradient(180deg,rgba(0,0,0,0),var(--post_back_sel) 80%) !important;
}

._post, .post, .page_block, .post--with-likes, .deep_active, .post_content, .post_header {
    background-color: var(--post_back);
}

.submit_post_box, .reply_box clear_fix, ._submit_post_box {
    background-color: var(--post_back) !important;
}

.wall_module .reply_form, .reply_field, .submit_post_field, .reply_fakebox_wrap {
    background-color: var(--post_back) !important;
}

.reply_fakebox {
    background-color: var(--searchline) !important;
}

* {
    border-color: transparent !important;
}

.page_block {
    box-shadow: 0 1px 0 0 transparent,0 0 0 1px transparent !important;
    background: var(--post_back) !important;
}

.ui_rmenu_item_sel, .ui_menu_item:hover {
    background-color: var(--post_back_sel) !important;
}

.ui_actions_menu_item {
    color: var(--search_text) !important;
}

.ui_actions_menu_item:hover {
    background-color: var(--searchline_sel) !important;
}

.top_notify_count {
    color: white !important;
}





.box_title_wrap {
    background-color: var(--btn) !important;
}

.box_title_wrap .box_title {
    color: white !important;
}

.box_controls {
    background-color: var(--post_back) !important;
}

.photos_container .photos_row {
    background-color: var(--post_back) !important;
}



body.new_header_design .top_nav_link.active {
    background-color: var(--searchline) !important;
}

#top_profile_menu {
    background: var(--searchline) !important;
}

.top_profile_vkconnect_right div {
    color: white !important;
}

a.top_profile_mrow {
    color: white !important;
}


#top_profile_menu a:hover {
    background-color: var(--searchline_sel) !important;
}



.page_block_header, .ui_tabs_header {
    background: var(--btn) !important;
}


.settings_block_footer {
    background: var(--background) !important
}

#settings_otp_auth_off_wrap .msg {
    background-color: var(--post_back) !important;
}

.box_msg, .box_msg_gray {
    background-color: var(--post_back) !important
}

.box_title .security {
    color: white !important;
}



/* MESSAGES */
.im-page .im-page--header {
    background: background: var(--post_back) !importantt;
}

.im-page_classic.im-page .im-page--dialogs-search {
    box-shadow: 0 0 0 1px var(--background) !important;
}

.im-page_classic.im-page .im-page--dcontent {
    background: var(--post_back) !important;
}

.nim-dialog:not(.nim-dialog_deleted).nim-dialog_unread.nim-dialog_classic {
    background: var(--post_back_sel) !important;
}


.nim-dialog.nim-dialog_classic:hover{
    background: var(--post_back_sel) !important;
}


.nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--inner-text {
    background: var(--post_back_sel) !important;
}

.im-page .im-page--dialogs-footer.ui_grey_block {
    background: var(--post_back_sel) !important;
}

.im-page .im-page--header {
    background: var(--background) !important;
}
.im-page_classic.im-page .im-page--dialogs-search {
    background: var(--post_back) !important;
}


.ui_search {
    background-color: var(--searchline) !important;
}

input.ui_search_field {
    color: var(--search_text) !important;
}

.im-create--tabs {
    background: var(--post_back) !important;
}

.im-create {
    background: var(--post_back) !important;
}

.olist_checkbox {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20width%3D%2222%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%2345464f%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate(-1074%20-1823)%22%3E%3Crect%20fill%3D%22%23red%22%20height%3D%2222%22%20rx%3D%2211%22%20width%3D%2222%22%20x%3D%221074%22%20y%3D%221823%22%2F%3E%3Crect%20height%3D%2221%22%20rx%3D%2210.5%22%20stroke%3D%22%23c1c9d1%22%20width%3D%2221%22%20x%3D%221074.5%22%20y%3D%221823.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 0 center !important;
    fill: blue;
}

.olist_item_wrap_on .olist_checkbox {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%2222%22%20height%3D%2222%22%20fill%3D%22%235181B8%22%20rx%3D%2211%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M6%2012l3%203%207-7%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 0 center !important;
}

.olist_item_wrap:hover {
    background-color: var(--post_back_sel) !important;
}

.ui_search_filters_pane .token, .ui_multiselect_cnt .token {
    background-color: var(--btn) !important;
}

.ui_multiselect_cnt .token .token_title {
    color: white !important;
}

.im-create.im-create_classic .im-create--footer {
    background: var(--post_back) !important;
box-shadow: 0 0 0 2px var(--background) !important;
}

.im-create.im-create_classic .im-create--table {
    box-shadow: 0 1px 0 0 transparent,0 0 0 1px transparent !important;
}

.nim-dialog.nim-conversation-search-row.nim-csr_classic:hover {
    background: var(--post_back_sel) !important
}

.im-popular--name {
    color: var(--text) !important;
}

.owner_photo_additional {
        background: var(--post_back_sel) !important;
}


/* LS */

.im-page_classic.im-page .im-page--chat-body-abs {
    box-shadow: 0 1px 0 0 transparent,0 0 0 1px transparent !important;
}

.im-page_classic.im-page .im-page--chat-body-wrap-inner {
    background: var(--post_back) !important;
}

.im-page--chat-header {
    background: var(--background) !important;
}

.im-page_classic .im-page--chat-header-in {
    box-shadow: 0 0 0 3px var(--background) !important;
}

.im-page--toolsw {
    background: var(--post_back) !important;
}

._im_peer_history, im-page-chat-contain {
    background: var(--post_back) !important;
}

.im-mess-stack {
    background: var(--post_back) !important;
}

.im-mess_unread {
    background: var(--post_back_sel) !important;
}

.im-mess.im-mess_unread:last-child::before, [dir] .im-mess.im-mess_selected:last-child::before {
    background: var(--post_back) !important;
}

.im-chat-input {
    background: var(--post_back) !important;
}

.im-page--chat-input {
    background-color: var(--background);
}

.im-chat-input.im-chat-input_classic {
    box-shadow: 0 3px 0 0 var(--background),0 0 0 3px var(--background) !important;
}

.im-replied--text {
    color: #757678; 
}

.online.mobile::after {
    background-color: var(--post_back) !important;
}

.im-page .im-page--history-new-bar {
    background-color: var(--post_back) !important;
}

.im-page--history-new-bar span {
    background-color: var(--post_back_sel) !important;
}

._im_unread_bar_row span {
    background-color: var(--post_back) !important;
}
.im-mess.im-mess_unread+.im-mess::before, .im-mess.im-mess_selected+.im-mess::before {
    background: var(--post_back_sel) !important;
}

.im-page--title-main-inner {
    color: #757678 !important;
}

.im-page-pinned {
    background: var(--post_back_sel) !important;
}

.im-chat-input .im-chat-input--txt-wrap {
    background: var(--searchline) !important;
}

input.text, input.search, input.big_text, input.dark, .fakeinput, div[contenteditable=true]:not(#post_field), textarea  {
    background: var(--searchline) !important;
}

.im-page--title-main-inner _im_page_peer_name, .im-chat-input--text {
    color: #CCC !important;
}

.im-page--back-btn:hover {
    background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2216%22%20viewBox%3D%220%200%209%2016%22%20width%3D%229%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m8%2015.9c-.2%200-.4-.1-.6-.3l-7-7c-.3-.3-.3-.9%200-1.2l7-7c.3-.3.9-.3%201.2%200s.3.9%200%201.2l-6.4%206.4%206.4%206.4c.3.3.3.9%200%201.2-.2.2-.4.3-.6.3z%22%20fill%3D%22%23828a99%22%20opacity%3D%22.7%22%2F%3E%3C%2Fsvg%3E) 15px 16px no-repeat var(--post_back_sel) !important;
}

.audio-msg-track:hover {
    background-color: var(--post_back_sel) !important;
}

.im-mess_selected {
    background: #181818 !important;
}

.im-chat-input--editing-head, .im-page .im-search-results-head {
    color: #757678 !important;
}

.ui_actions_menu {
    background: var(--searchline) !important
}


.im-page--redesigned-menu .ui_actions_menu_item {
    color: var(--search_text) !important;
}

.im-page--redesigned-menu .ui_actions_menu_item:hover {
    background-color: var(--searchline_sel) !important;
}

._im_dialog_unread_ct {
    color: white !important;
}


.pv_white_bg {
    background-color: var(--post_back) !important;
}

#wk_history_wrap {
    background: var(--post_back) !important;
}

.ui_tabs.ui_tabs_box, .wk_history_tabs {
    background-color: var(--post_back_sel) !important;
}

#wk_box {
    background: transparent !important;
}

.audio_row.audio_row__current .audio_row_content {
    background-color: var(--post_back_sel) !important;
}

.audio_row:hover:not(.audio_row_current) .audio_row_content {
    background-color: var(--post_back_sel) !important;
}

.links-list__item:hover {
    background-color: var(--post_back_sel) !important;
}

.eltt {
    background-color: var(--searchline) !important;
}

.audio_row__more_actions .audio_row__more_action {
    background: var(--searchline) !important;
}

._audio_row__more_actions button:hover {
    background-color: var(--searchline_sel) !important;
}

.ms_items_more {
    background: var(--searchline) !important
}

.ms_items_more a {
    color: white !important;
}

.ms_items_more a:hover {
    background: var(--searchline_sel) !important;
}

.emoji_tt_wrap {
    background-color: var(--searchline) !important;
}

.emoji_cat_title {
    background: var(--searchline) !important;
}

.emoji_tabs {
    background: var(--searchline) !important;
}

.emoji_tabs_l_s, .emoji_tabs_r_s {
    background: var(--searchline) !important;
}

.ui_scroll_shadow_bottom, .ui_scroll_shadow_top {
    display: none;
}

.emoji_tabs_l_sc, .emoji_tabs_r_sc {
    display: none;
}

.emoji_tabs_l_s {
    box-shadow: 9px 0px 11px -3px rgba(50, 50, 50, 0.78) !important;
}

.emoji_tabs_r_s {
    box-shadow: -9px 0px 11px -3px rgba(50, 50, 50, 0.78) !important;
}

.emoji_tabs {
    box-shadow: 0px -9px 11px -3px rgba(50, 50, 50, 0.78) !important
}

.emoji_cats_title_helper:after {
    background: linear-gradient(180deg, rgba(50, 50, 50, 0.78), rgba(50, 50, 50, 0)) !important;
    bottom: -3px !important;
}

/*.emoji_cat_title {
    box-shadow: 0px 9px 11px -3px rgba(50, 50, 50, 0.78) !important
}*/


.StickerPackSettings__styles, .StickerPackSettings__stylePreview, .StickerPackSettings__footer {
    background: var(--post_back) !important;
}

.ModalHeader--blue {
    background-color: var(--btn) !important
}

.ModalHeader__title {
    color: white !important;
}

.Button--primary {
	background-color: var(--btn) !important;
}

.ButtonWithProgress__content {
	color: white !important;
}




/* PROFILE */

#profile_edit_act, .flat_button.secondary, .flat_button {
    background-color: var(--btn) !important;
    color: white !important;
}



/* FRIENDS */
.ui_tabs_header._friends_header {
    background-color: var(--post_back) !important;
}





/* ads */
#ads_left {
    display: none !important;
}

/* POPUP START */

.box_body {
    background-color: var(--post_back) !important;
}

.ui_search_fltr {
    background: var(--post_back_sel) !important;
}

.ui_search_fltr div {
    color: white !important;
}

.ui_search_fltr .selector_container {
    background: var(--searchline) !important;
}

.results_container .result_list ul {
    background: var(--searchline) !important;
}

.results_container .result_list ul li.active {
    background: var(--searchline_sel) !important;
}






/* MORE -> SECURITY */

.landing_transparencyHeader, .landing_transparencySection__counter, .wikiSubHeader::before {
    background: var(--btn) !important;
    color: white !important
}

.landing_transparencyHeader__titleName, .landing_transparencyHeader__navItem a {
    color: white !important;
}

.landing_transparencyFooter {
    background: var(--post_back) !important;
    box-shadow: inset 0 1px 0 0 var(--text) !important;
}


/* MORE -> LANGUAGE */
.language_box_row:hover, .language_suggested {
    background: var(--post_back_sel) !important;
}

.language_name_hl {
    background: var(--searchline) !important;
}







/* LINKS COLOR FIX */

.im-page--back-btn, .im-mess-stack--tools a, .im-mess-stack--lnk, .left_menu_nav, .im-page-pinned--name, ._im_settings_action, .ui_tab, .friends_field a, .right_list_info.right_list_compact div a{
    color: var(--text) !important;
}

















.page_block_header, .page_block_header_inner, .page_block_header_inner div, .ui_tab{
    color: white !important;
}
